<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksAdd</servlet-name>
        <servlet-class>admin.BooksAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksDelete</servlet-name>
        <servlet-class>admin.BooksDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBooks</servlet-name>
        <servlet-class>admin.EditBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove_Book</servlet-name>
        <servlet-class>controller.Remove_Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOldBook</servlet-name>
        <servlet-class>controller.AddOldBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Old_Book</servlet-name>
        <servlet-class>controller.Delete_Old_Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>controller.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollegeProfileUpdate</servlet-name>
        <servlet-class>controller.CollegeProfileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyProfileUpdate</servlet-name>
        <servlet-class>controller.CompanyProfileUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksAdd</servlet-name>
        <url-pattern>/BooksAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksDelete</servlet-name>
        <url-pattern>/BooksDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBooks</servlet-name>
        <url-pattern>/EditBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove_Book</servlet-name>
        <url-pattern>/Remove_Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOldBook</servlet-name>
        <url-pattern>/AddOldBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Old_Book</servlet-name>
        <url-pattern>/Delete_Old_Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollegeProfileUpdate</servlet-name>
        <url-pattern>/CollegeProfileUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyProfileUpdate</servlet-name>
        <url-pattern>/CompanyProfileUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
